extends ./base.pug
block content
  p.info
  |Strona ta pozwala dodać wpis na Hejto anonimowo. Wystarczy, że wypełnisz formularz na stronie głównej.
  br
  |Każdy zaakceptowany wpis zostanie dodany pod tagiem
  a(href='http://hejto.pl/tag/AnonimoweHejtoWyznania', target='_blank')  #AnonimoweHejtoWyznania.