nav.navbar.navbar-default.navbar-static-top(style="background-color: #256ce8")
    .container
      .navbar-header
        a.navbar-brand(href='/', style="color: white;") Anonimowe Hejto Wyznania
        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/', style="color: white;", onmouseover="this.style.color='#c5deda';", onmouseout="this.style.color='white';") Dodaj
          li
            a(href='http://www.hejto.pl/tag/anonimowehejtowyznania', target='_blank', style="color: white;", onmouseover="this.style.color='#c5deda';", onmouseout="this.style.color='white';") Przeglądaj dodane wyznania
          li
            a(href='/about', style="color: white;", onmouseover="this.style.color='#c5deda';", onmouseout="this.style.color='white';") O projekcie
          li
            a(href='/contact', style="color: white;", onmouseover="this.style.color='#c5deda';", onmouseout="this.style.color='white';") Kontakt
          li
            a(href='https://github.com/unkn0wn-root/AHC', target='_blank', style="color: white;", onmouseover="this.style.color='#c5deda';", onmouseout="this.style.color='white';") GitHub
