nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        a.navbar-brand(href='/') Anonimowe Hejto Wyznania
        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') Dodaj
          li
            a(href='http://www.hejto.pl/tag/anonimowehejtowyznania', target='_blank') Przeglądaj dodane wyznania
          li
            a(href='/about') O projekcie
          li
            a(href='/contact') Kontakt (PGP)
          li
            a(href='https://github.com/unkn0wn-root/AHC', target='_blank') GitHub
